services:
  - type: web
    name: sap-mimosa-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn WebApp.app:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: CORS_ORIGINS
        value: https://sap-mimosa-web.onrender.com

  - type: web
    name: sap-mimosa-web
    env: docker
    rootDir: WebApp
    envVars:
      - key: PY_API_BASE
        value: https://sap-mimosa-api.onrender.com/
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:$PORT