services:
  - type: web
    name: sap-mimosa-api
    env: docker
    dockerfilePath: ./Dockerfile  # Path to Python Dockerfile
    dockerContext: .
    region: oregon
    plan: free
    healthCheckPath: /mappings
    autoDeploy: true
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: CORS_ORIGINS
        value: https://sap-mimosa-web.onrender.com

  - type: web
    name: sap-mimosa-web
    env: docker
    dockerfilePath: ./WebApp/Dockerfile
    dockerContext: ./WebApp
    region: oregon
    plan: free
    autoDeploy: true
    envVars:
      - key: PY_API_BASE
        value: https://sap-mimosa-api.onrender.com/