services:
  - type: web
    name: sap-mimosa-unified
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: oregon
    plan: free
    healthCheckPath: /
    autoDeploy: true
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: PY_API_BASE
        value: http://127.0.0.1:8000/
